<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="newDevice.name" #nameField="ngModel" required [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && nameField.errors">
      <p *ngIf="nameField.errors.required" class="validation">Name required</p>
    </div>
  </div>
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && typeField.errors}">
    <label>Type</label>
    <input type="text" name="type" [(ngModel)]="newDevice.type" #typeField="ngModel" required [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && typeField.errors">
      <p *ngIf="typeField.errors.required" class="validation">Type required</p>
    </div>
  </div>
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && brandField.errors}">
    <label>Brand</label>
    <select name="brand" [(ngModel)]="newDevice.brand" #brandField="ngModel" required>
      <option value="Linksys">Linksys</option>
      <option value="Cisco">Cisco</option>
      <option value="Surecom">Surecom</option>Cnet
      <option value="Cnet">Cnet</option>
    </select>
    <div *ngIf="feedbackEnabled && brandField.errors">
      <p *ngIf="brandField.errors.required" class="validation">Brand required</p>
    </div>
  </div> 
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && modelField.errors}">
      <label>Model</label>
      <select name="model" [(ngModel)]="newDevice.model" #modelField="ngModel" required>
        <option value="Hub">Hub</option>
        <option value="Switch">Switch</option>
        <option value="Modem">Modem</option>Cnet
        <option value="Router">Router</option>
        <option value="Bridge">Bridge</option>
        <option value="Repeater">Repeater</option>
      </select>
      <div *ngIf="feedbackEnabled && modelField.errors">
        <p *ngIf="modelField.errors.required" class="validation">Model required</p>
      </div>
  </div>        
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && dateField.errors}">
    <label>Installation date</label>
    <input id="date" type="date" name="date" [(ngModel)]="newDevice.date" #dateField="ngModel" required [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && dateField.errors">
      <p *ngIf="dateField.errors.required" class="validation">date required</p>
    </div>
  </div>

  <div class="field submit">
    <button type="submit" [disabled]="processing">Add</button>
    <button (click)="handleHideForm()">Cancel</button>
    <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">There are errors in the form, please review the fields</p>
    </div>
  </div>
</form>

